<!DOCTYPE html>

<html>
	<head>
		<title>Hemonucleos</title>
		<link rel="stylesheet" type="type/css" href="./css/style.css">
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script type="module" src="./js/map.js"></script>
	</head>

	<body>
		{{{body}}}
	</body>

</html>
